$outterGreen: #006838;
$innerGreen:#39b54a;
$bsGrey: #6a6a54;
$bsDarkGrey: #404442;
$bsYellow: #d7df23;

@mixin flexParent ($direction){
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

@mixin loadingBar($color, $width) {
    background-color: $color;
    margin: auto;
    margin-top: 6vh;
    height: 4vh;
    animation-name: loading;
    animation-duration: 2s;
    border-radius: 2vh;
    width: $width;
}

@mixin faFont($fontSize )
{
    flex: 1;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    font-size: $fontSize; 
    text-align: center;
    text-decoration: none;
}

@mixin button() {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    background-color: transparent;
    border: 2px solid $bsYellow;
    padding: 2vh;
    color: $bsYellow;
    text-shadow: 0.3vh 0.3vh $bsDarkGrey; 
    &:hover{
        opacity: 0.7;
    }
}

@mixin yellowTitles($fontSize) {
    color: $bsYellow;
    font-size: $fontSize;
    text-shadow: 0.3vh 0.3vh $bsDarkGrey;
}